*~
*.bak
*.asv
__pycache__
*.pyc
*.so
*.a
build
dist
eggs
*.egg-info
lib
tmp
docs/_build
.ipynb_checkpoints
env
venv
.env
.venv
.vscode
lib64
wheels
*.egg
*.exe
foo*
bar*
spam*
*.vtk
wlslib/*.cpp
wlslib/*/*.cpp
.ycm_extra_conf.py
*.exe
*.mex*
*.d
codegen/
.MATLABDriveTag
test_run_temp.m
m2cpp/
